.basic-input {
    ion-label {
      color: var(--color-main-color);
    }
  
    > div {
      border: 1px solid var(--color-gray-2);
      border-radius: 5px;
      align-items: center;
      padding: 15px 10px;
      margin-top: 5px;
      transition: all linear 0.2s;
  
      &.invalid {
        border-color: var(--color-red-error);
      }
  
      ion-icon {
        --color: var(--color-gray-2);
      }
  
      input {
        flex-grow: 1;
        max-width: 100%;
        color: var(--color-main-color);
  
        &::placeholder {
          color: var(--color-gray-1);
        }
      }
    }
  }
  